
.idea/dictionaries/user.xml
.idea/inspectionProfiles/profiles_settings.xml
Scripts/__pycache__/menu.cpython-311.pyc
Scripts/__pycache__/modules.cpython-311.pyc
Scripts/__pycache__/NSP.cpython-311.pyc
.idea/vcs.xml
.idea/NSP.iml
.idea/modules.xml
.idea/misc.xml
Scripts/__pycache__/NSP.cpython-311.pyc
Scripts/__pycache__/modules.cpython-311.pyc
Scripts/__pycache__/menu.cpython-311.pyc
Scripts/__pycache__/modules.cpython-311.pyc
Scripts/__pycache__/NSP.cpython-311.pyc
Scripts/__pycache__/modules.cpython-311.pyc
Server/cli/laba.py
logs/NSP_log.log
Scripts/__pycache__/menu.cpython-311.pyc
Scripts/__pycache__/modules.cpython-311.pyc
*.xml
*.pyc
*.pyc
*.pyc
Scripts/__pycache__/menu.cpython-311.pyc
Scripts/__pycache__/__init__.cpython-39.pyc
Scripts/__pycache__/__init__.cpython-311.pyc
Scripts/__pycache__/NSP.cpython-311.pyc
Scripts/__pycache__/NSP.cpython-311.pyc
*.pyc
Server/__pycache__/__init__.cpython-39.pyc
Server/__pycache__/__init__.cpython-311.pyc
Server/__pycache__/server.cpython-311.pyc
Server/Users/db/key
