
.idea/dictionaries/user.xml
.idea/inspectionProfiles/profiles_settings.xml
Scripts/__pycache__/menu.cpython-311.pyc
Scripts/__pycache__/modules.cpython-311.pyc
Scripts/__pycache__/NSP.cpython-311.pyc
.idea/vcs.xml
.idea/NSP.iml
.idea/modules.xml
.idea/misc.xml
Scripts/__pycache__/NSP.cpython-311.pyc
Scripts/__pycache__/modules.cpython-311.pyc
Scripts/__pycache__/menu.cpython-311.pyc
Scripts/__pycache__/modules.cpython-311.pyc
Scripts/__pycache__/NSP.cpython-311.pyc
Scripts/__pycache__/modules.cpython-311.pyc
