body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    overflow: hidden;
}
a{
    text-decoration: None;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #343a40;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease;
}

.sidebar-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.main-content {
    margin-left: 200px;
    padding: 20px;
}


.content-section {
    display: none;
    padding: 20px;
    background-color: #808080;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 1);
    transform: translateX(100%) scale(0.9);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.content-section.active {
    display: block;
    opacity: 1;
    transform: translateX(0) scale(1);
}

.top-bar {

    background-color: #343a40;
    color: white;
    padding: 10px 20px;
    text-align: right;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    cursor: pointer;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #626264;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: left;
    text-decoration: None;
}

.avatar-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url('/static/img/avatar.png');
    background-size: cover;
    background-position: center;
    margin-right: 10px; /* Добавляем отступ справа */
}


.serverTime {
    color: white;
    font-size: 16px;
    padding: 10px 20px;

}
.file-block {
    margin: 10px;
    padding: 10px;
    border: 1px solid #00000000;
    animation: slide-up 1s ease-out;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
