html {
    overflow: hidden;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
/* Стили для элементов внутри формы логина */
.signup-container input,
.signup-container button {
    width: 100%; /* Полная ширина внутри блока */
    padding: 10px; /* Отступы внутри элементов */
    margin: 8px 0; /* Отступы между элементами */
    display: inline-block; /* Расположение элементов в строку */
    border: 1px solid #ccc; /* Граница элементов */
    box-sizing: border-box; /* Расчет размеров с учетом padding и border */
    border-radius: 4px; /* Скругленные углы */
}

/* Стили для кнопки */
.signup-container button {
    background-color: #4CAF50; /* Зеленый фон кнопки */
    color: white; /* Белый текст на кнопке */
    border: none; /* Убрать границу */
    cursor: pointer; /* Стиль курсора при наведении */
}
.signup-container {
    /* Цвет фона и размеры блока */
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон для блока */
    padding: 20px; /* Отступы внутри блока */
    border-radius: 10px; /* Скругленные углы */
    width: 300px; /* Ширина блока */

    /* Центрирование блока */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Стилизация текста и элементов формы */
    color: white; /* Белый текст */
}

/* Стили для ссылки на регистрацию */
.ll {
    color: #ffffff; /* Белый цвет текста */
    text-decoration: none; /* Убрать подчеркивание */
    text-align: center;
}

.errormessage {
            color: #ff0000;
            display: none;
            text-align: center; /* Выравнивание текста по центру */
            padding: 5px; /* Небольшой внутренний отступ */
            font-size: 1em;
}

.signup-container {
    position: relative;
    padding-bottom: 30px; /* Дополнительное пространство для сообщения об ошибке */
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}