<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/dashboard.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</head>
<body>
    <div id="username" data-username="{{ username }}" style="display: none;"></div>

    <div class="top-bar">
        <span id="serverTime"></span>
        <div class="user-info" onclick="logout()">
            {{ username }}
            <div class="dropdown-menu" style="display: none">
                <a href="/logout">Выход</a>
            </div>
        </div>
    </div>


    <div class="sidebar">
        <button class="sidebar-button" onclick="toggleSection('scanSection')">Scan</button>
        <button class="sidebar-button" onclick="toggleSection('folderSection')">Folder</button>
         <button class="sidebar-button" onclick="toggleSection('chartContainer')">Show Chart</button>


    </div>

    <div class="main-content" style="display: block">
        <div id="chartContainer" >
                <canvas id="myChart" width="400" height="400"></canvas>
                <div id="info">Информация...</div>
                <div id="noData" style="display: none;">NODATA</div>
            </div>
        <div id="scanSection" class="content-section" style="display: none;">
            <form id="scanForm">
                <label for="host">Host:</label>
                <input type="text" id="host" name="host"><br><br>
                <label for="port">Port:</label>
                <input type="text" id="port" name="port"><br><br>
                <label for="login">Login:</label>
                <input type="text" id="login" name="login"><br><br>
                <label for="pass">Pass:</label>
                <input type="password" id="pass" name="pass"><br><br>
                <label for="pass">Comment:</label>
                <input type="text" id="comment" name="comment"><br><br>
                <input type="button" value="Submit" onclick="submitForm()">
                <div id="scannerStatus"></div>
            </form>
        </div>
        <div id="folderSection" class="content-section" style="display: none;">
            <!-- Таблица для отображения файлов -->
            <table id="files-table" style="color:#ffffff " >
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Дата </th>
                        <th>Скачать в pdf</th>
                    </tr>
                </thead>
                <tbody id="files-container"></tbody>
            </table>
            </div>
    </div>


</body>
</html>