<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/dashboard.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="username" data-username="{{ username }}" style="display: none;"></div>

    <div class="top-bar">
        <span id="serverTime"></span>
        <div class="user-info" onclick="toggleDropdownMenu()">
            {{ username }}
            <div class="dropdown-menu">
                <a href="/logout">Выход</a>
            </div>
        </div>
    </div>

    <div id="chartContainer" style="width:200px; height:200px; position: relative;">
        <canvas id="myChart" width="200" height="200"></canvas>
        <div id="noData" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">NODATA</div>
    </div>

    <div class="sidebar">
        <button class="sidebar-button" onclick="toggleSection('scanSection')">Scan</button>
        <button class="sidebar-button" onclick="toggleSection('folderSection')">Folder</button>

        <!-- Новая кнопка для отображения диаграммы -->
        <button class="sidebar-button" onclick="showChart()">Show Chart</button>
    </div>

    <div class="main-content">
        <div id="scanSection" class="content-section">
            <form id="scanForm">
                <label for="host">Host:</label>
                <input type="text" id="host" name="host"><br><br>
                <label for="port">Port:</label>
                <input type="text" id="port" name="port"><br><br>
                <label for="login">Login:</label>
                <input type="text" id="login" name="login"><br><br>
                <label for="pass">Pass:</label>
                <input type="password" id="pass" name="pass"><br><br>
                <label for="pass">Comment:</label>
                <input type="text" id="comment" name="comment"><br><br>
                <input type="button" value="Submit" onclick="submitForm()">
                <div id="scannerStatus"></div>
            </form>
            <p>Scan Section Content</p>
        </div>
        <div id="folderSection" class="content-section">
            <!-- Таблица для отображения файлов -->
            <table id="files-table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Дата </th>
                    </tr>
                </thead>
                <tbody id="files-container"></tbody>
            </table>
</div>
    </div>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>
