<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link  type="text/css"  href="{{ url_for('static', filename='stylesheets/login.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="login-container" id="loginContainer">
        <form class="login-form" id="loginForm">
            <h2>Login</h2>
            <input type="text" placeholder="Username" name="username" required><br>
            <input type="password" placeholder="Password" name="password" required><br>
            <button type="submit">Login</button>
            <a href="/signup" class="signup-link">Create account</a>
        </form>
        <p class="error-message" id="errorMessage"></p>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
