<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link type="text/css" href="{{ url_for('static', filename='stylesheets/signup.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="signup-container" id="signupContainer">
        <form id="signupForm">
            <h2>Sign up</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Create">
            <a href="/login" class="ll">Already have account </a>
        </form>
        <div class="errormessage" id="errormessage"></div>

    </div>

    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
</body>
</html>




