<style>
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 

  position: absolute;
  z-index: 1;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* Стили для градиента фона */
        body, html {
            height: 100%;
            margin: 0;
        }
        body {
            background: linear-gradient(-45deg, #000000, #203f43, #203a43, #0af0ff);
            background-size: 400% 400%;
            animation: gradientBG 10s ease infinite;
        }

        /* Анимация градиента */
        @keyframes gradientBG {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }

        /* Стили для формы входа */
        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .login-form {
            background: #000; /* Черный фон для формы */
            color: #fff; /* Белый текст */
            padding: 20px;
            border-radius: 10px;
        }
        .error-message {
            color: red; /* Красный текст для сообщения об ошибке */
            margin-top: 10px;
        }
        .signup-link {
            margin-top: 15px;
            display: block;
            color: #fff; /* Белый текст для ссылки */
            text-decoration: none; /* Убрать подчеркивание */
        }



</style>

